<table class='table table-hover table-inverse'>
  <tbody>
    <h2>投稿数の前日比・前週比</h2>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
    <tr>
      <th><%=  %></th>
      <th><%=  %></th>
      <th><%= current_user.books.where('created_at > ?', Date.today - Date.yesterday).count %></th>
    </tr>
  </tbody>
</table>