
  <tfoot>
    <h2>投稿数の前日比・前週比</h2>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
    <tr>
      <th><%= today_book.count %></th>
      <th><%= yesterday_book.count %></th>
      <th>
        <% @the_day_before = today_book.count / yesterday_book.count.to_f do %>
        <%= (@the_day_before * 100).round %>
        <% end %>
      </th>
    </tr>
  </tfoot>